    <div class="content">
        <div class="contentTitulo text-center">
          <h1>Noticias</h1>
        </div>

        <div class="contentNoticias mt-5">
            <div class="row">
                <div class="col-md-4 mb-5">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Torneo Neiva Cidudad Banbuquera</h5>
                            <div class="contentImagen">
                                <img src="../../../../assets/img/Postal-InterUNIVAS-Voleibol.gif" alt="">
                            </div>
                            <p class="card-text mt-4">Torneo Neiva ciudad banbuquera, en su version 5, inicia el el mes de julio</p>
                            <p class="card-text mt-4">Mas informes al Whatsatpp: 317-711-65-06</p>
                            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                        </div>
                        <!-- <div class="card-footer">
                            <div class="d-flex justify-content-end">
                                <button class="btn btn-primary">Mas</button>
                            </div>
                        </div> -->
                    </div>
                </div>

                <div class="col-md-4 mb-5">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Torneo Neiva Cidudad Banbuquera</h5>
                            <div class="contentImagen">
                                <img src="../../../../assets/img/Postal-InterUNIVAS-Voleibol.gif" alt="">
                            </div>
                            <p class="card-text mt-4">Torneo Neiva ciudad banbuquera, en su version 5, inicia el el mes de julio</p>
                            <p class="card-text mt-4">Mas informes al Whatsatpp: 317-711-65-06</p>
                            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                        </div>
                        <!-- <div class="card-footer">
                            <div class="d-flex justify-content-end">
                                <button class="btn btn-primary">Mas</button>
                            </div>
                        </div> -->
                    </div>
                </div>

                <div class="col-md-4 mb-5">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Torneo Neiva Cidudad Banbuquera</h5>
                            <div class="contentImagen">
                                <img src="../../../../assets/img/Postal-InterUNIVAS-Voleibol.gif" alt="">
                            </div>
                            <p class="card-text mt-4">Torneo Neiva ciudad banbuquera, en su version 5, inicia el el mes de julio</p>
                            <p class="card-text mt-4">Mas informes al Whatsatpp: 317-711-65-06</p>
                            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                        </div>
                        <!-- <div class="card-footer">
                            <div class="d-flex justify-content-end">
                                <button class="btn btn-primary">Mas</button>
                            </div>
                        </div> -->
                    </div>
                </div>

                <div class="col-md-4 mb-5">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Torneo Neiva Cidudad Banbuquera</h5>
                            <div class="contentImagen">
                                <img src="../../../../assets/img/Postal-InterUNIVAS-Voleibol.gif" alt="">
                            </div>
                            <p class="card-text mt-4">Torneo Neiva ciudad banbuquera, en su version 5, inicia el el mes de julio</p>
                            <p class="card-text mt-4">Mas informes al Whatsatpp: 317-711-65-06</p>
                            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                        </div>
                        <!-- <div class="card-footer">
                            <div class="d-flex justify-content-end">
                                <button class="btn btn-primary">Mas</button>
                            </div>
                        </div> -->
                    </div>
                </div>

                <div class="col-md-4 mb-5">
                  <div class="card">
                      <div class="card-body">
                          <h5 class="card-title">Torneo Neiva Cidudad Banbuquera</h5>
                          <div class="contentImagen">
                              <img src="../../../../assets/img/Postal-InterUNIVAS-Voleibol.gif" alt="">
                          </div>
                          <p class="card-text mt-4">Torneo Neiva ciudad banbuquera, en su version 5, inicia el el mes de julio</p>
                          <p class="card-text mt-4">Mas informes al Whatsatpp: 317-711-65-06</p>
                          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                      </div>
                      <!-- <div class="card-footer">
                          <div class="d-flex justify-content-end">
                              <button class="btn btn-primary">Mas</button>
                          </div>
                      </div> -->
                  </div>
                </div>

            </div>
        </div>
    </div>
