
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    background-color: rgba(240, 240, 240, 0.349);
    box-shadow: 1px 1px 1px 1px rgba(110, 110, 110, 0.322);
    border-radius: 10px;
    padding: 20px 20px;
    width: 80%;
}

.contentRegistroFormulario{
  width: 90%;
}

@media screen and (max-width: 1500px){
    .container{
        margin-top: 100px;
    }
}
