
.container{
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentLogin{
    width: 40%;
}

.card{
  width: 100%;
}

@media screen and (max-width: 1400px){
  .container{
      min-height: 80vh;
  }
}

@media screen and (max-width: 450px){
  .container{
      min-height: 90vh;
  }
}



