<p>calendario works!</p>

<!-- <div #calendarEl class="calendario"></div> -->
<full-calendar [options]="calendarOptions"></full-calendar>

<!-- Modal para ingresar el título del evento -->
<!-- <div class="modal" [class.show]="modalVisible">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Agregar Evento</h5>
        <button type="button" class="close" (click)="modalVisible = false">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="eventTitle">Título del Evento:</label>
          <input type="text" class="form-control" id="eventTitle" [(ngModel)]="selectedTitle">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="addEvent()">Agregar</button>
        <button type="button" class="btn btn-secondary" (click)="modalVisible = false">Cancelar</button>
      </div>
    </div>
  </div>
</div> -->
