@import '../node_modules/@syncfusion/ej2-material-theme/styles/material.css';

/* You can add global styles to this file, and also import other style files */
html {
   box-sizing: border-box;
  font-size: 80%;
  min-height: 100%;
  position: relative;
}

*, *:before, *:after{
    box-sizing: inherit
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 1.2rem !important;
    height: 100%;
}


.contentImagen img{
    width: 100%;
    border: solid 1px black;
}
